body{
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;
    overflow-y: hidden;

    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:#000;
    margin: 0;
    padding: 0;
}
.img-icon img{
    width:20%;
    height: auto;
}
.green{
    width: 100%;
    /*height: 900px;*/
    background-color: green ;
    position: relative;
    background-size: cover;
}
.orange{
    width: 100%;
    /*height: 900px;*/
    background-color: orange ;
    background-size: cover;
    background-position-y: 100%;
    position: relative;
}
.garkgreen{
    width: 100%;
    /*height: 900px;*/
    background-color: darkcyan ;
    background-size: cover;
    background-position-y: 100%;
    position: relative;
}
.swiper-slide button{
    position: absolute;
    left:46%;
    top:90%;
}




/*swiper框架*/
.swiper-container {
    width: 100%;
    height: 800px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    width: 100%;
    height: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper1{
    background: green;
}
.swiper2{
    background: orange;
}
.swiper3{
    background: darkkhaki;
}


/*添加背景图片*/
.swiper1-pic{
    width: 30%;
    position: absolute;
    left:30%;
    top:20%;
}
.swiper1-pic img{
    width: 100%;
    height: auto;
}
.swiper1 div img:hover{
    box-shadow: 0 0 15px 3px #888;
}
.swiper1 h2{
    position: absolute;
    left:45%;
    top:80%;
    color: white;
}
.swiper1 h2:hover{
   box-shadow: 0 0 15px 3px black;
}
.show1{
    width: 500px;
    height: 150px;
    border: 2px dotted red;
    position: absolute;
    z-index: 1000;
}
.show1 p{
  width: 100%;
    height: 30px;
    line-height: 30px;
   /* text-align: center;*/
    color: red;
    font-size: 19px;
   /* position: absolute;*/
}